{#% extends 'base.html.twig' %#}

{% extends 'baseAgentAff.html.twig' %}

{% block title materiel.libelle %}

{% block body %}
		{% for message in app.flashes('success') %}
			<div class="card-panel green accent-3">
				{{ message }}
			</div>
		{% endfor %}

	<div class="container">
		<h3>{{materiel.libelle}}</h3>

		{% if materiel.images %}
	        <div class="row">
	        	<div class="input-field col s12 m9 l9">
			 <!--<img src="../images/materiel/{{ materiel.imageF.imageName }}">-->
					<div class="carousel carousel-slider center">
						<!--<div class="carousel-fixed-item center">
							<a class="btn waves-effect white grey-text darken-text-2">gauche</a>
							<a class="btn waves-effect white grey-text darken-text-2">droite</a>
						</div>-->
						{% for image in materiel.images %}
						<div class="carousel-item white white-text" href="#one!">
							<img class="responsive-img" width="650" src="../images/materiel/{{ image.imageName }}">
						</div>
						{% endfor %}
					</div>
	        	</div>
	        </div>
        {% endif %}

		<h6>Description</h6>

		<p>{{materiel.description}}</p>

		<h5>En stock {{materiel.stock}}</h5>
			<div class="row"> 
					<div class="input-field col s3">

						<input name="quantity" type="number"  class="validate">

									

						<label for="quantity9">Quantité</label>
						{#{ include('agentAff/form/_form.html.twig', {button: 'Quantité'}) }#}
					</div>
					<div class="container">
						<a href="{{ path('agentAff.materiel.commander', {id: materiel.id }) }}" class="waves-effect waves-light btn-large">Commander</a>
					</div>
			</div>

							<form action="" method="post">
									<input name="intest" type="number" placeholder="saisir nombre" >
									<textarea name="content" placeholder="contenu"></textarea>
									<button type="submit" >Enregistrer</button>
							</form>


	</div>


{% endblock %}


{% block javascripts %}
<script type="text/javascript"> 
	$('.carousel.carousel-slider').carousel({
		fullWidth: true,
		indicators: true
	});


		$('.btn').carousel({
		fullWidth: true,
		indicators: true
	});

       </script>
{% endblock %}