{# 
<div class="row">

		<div class=" col s6 offset-s3">
			
			{{ form_start(form) }}
				{{ form_row(form.demandeecrite) }}
				{{ form_row(form.quantite) }}
				{{ form_row(form.idmat) }}
				{{ form_row(form.idagentaff) }}
				{{ form_row(form.materiels.libelle) }}
				<button class="btn waves-effect waves-light">
					{{ button|default('Enregistrer') }}
				</button>
			{{ form_end(form) }}

	
        </div>
	</div> #}



	<div class="row">
		<div class=" col s6 offset-s3">
			
			{{ form_start(form) }}
				{{ form_rest(form) }}
				<button class="btn waves-effect waves-light">
				{{ button|default('Enregistrer') }}
			</button>
			{{ form_end(form) }}

	
        </div>
	</div>



 {% block javascripts %}
      



{% endblock %}
