<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
         body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
        </style>

       <link href="{{ asset('build/css/materialize.min.css') }}" rel="stylesheet"/>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %} 
  			{% endblock %}
    </head>
    <body>	
    	<header>
      	<div class="navbar-fixed">
			    <nav>
			      <div class="nav-wrapper">
<<<<<<< HEAD
			        <a href="{{ path('adminGene.home') }}" class="brand-logo" ><img src="/images/logo_final.png" alt="logo"></img></a>
   <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        
=======
			        <a href="{{ path('agentAff.home') }}" class="brand-logo">Logo</a>
>>>>>>> a39a200ae2973683b2798b171dc12914ad856e02
		          <ul class="right hide-on-med-and-down">
                <li>
                  <a class='dropdown-trigger ' href="#" data-target='dropdown1'>Matériels<i class="material-icons right">arrow_drop_down</i>
                  </a>
                </li>  
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">Demander</a></li>
                  <li><a href="#!">Supprimer</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li><a href="#!">Noter</a></li>
                  <li><a href="#!">Visualiser</a></li>
                </ul>
                
                <li><a class='dropdown-trigger ' href="#" data-target='dropdown2'>Fournisseurs</a></li>  
                <!-- Dropdown Structure -->
                <ul id='dropdown2' class='dropdown-content'>
                  <li><a href="#!">Visualiser</a></li>
                </ul>
                {% if app.user %}
                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                {% endif %}          
              </ul>
            </div>
				  </nav>


 				</div>

         <ul class="sidenav" id="mobile-demo">
    <li>
                  <a class='dropdown-trigger ' href="#" data-target='dropdown1'>Matériels<i class="material-icons right">arrow_drop_down</i>
                  </a>
                </li>  
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">Demander</a></li>
                  <li><a href="#!">Supprimer</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li><a href="#!">Noter</a></li>
                  <li><a href="#!">Visualiser</a></li>
                </ul>
                
                <li><a class='dropdown-trigger ' href="#" data-target='dropdown2'>Fournisseurs</a></li>  
                <!-- Dropdown Structure -->
                <ul id='dropdown2' class='dropdown-content'>
                  <li><a href="#!">Visualiser</a></li>
                </ul>
                {% if app.user %}
                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                {% endif %}          
  </ul>
         
      </header>
      <main>
      {% block body %}{% endblock %}
      </main>
 <!--<script src="{{asset('build/js/jquery-3.3.1.min.js')}}"></script>-->
                     <script
                            src="https://code.jquery.com/jquery-2.2.4.min.js"
                            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                            crossorigin="anonymous"></script>
      <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              <script src="{{asset('build/js/app.js')}}"></script>

        <script>
          $(document).ready(function(){
    $('.sidenav').sidenav();
  });
            $(document).ready(function(){
              $('.datepicker').datepicker();
            });
            
              $('.dropdown-trigger').dropdown();
        </script>
      {% block javascripts %}
      {% endblock %}

  </body>

    <footer class="page-footer">
        
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            
            </div>
          </div>
    </footer>
</html>